<!-- <app-add-attendee (addAttendee)="addAttendee($event)"></app-add-attendee> -->
<select name="Guests filter" (change)="navigate($event)">
    <option [value]="'all'">All</option>
    <option [value]="'epic'">Epic</option>
    <option [value]="'normal'">Normal</option>
    <option [value]="'rare'">Rare</option>
    <option [value]="'unique'">Unique</option>

  </select>

<app-product-list *ngIf="!(spinner$ | async)" [products]="products$ | async"></app-product-list>
<div *ngIf="spinner$ | async">loading..</div>